---
date: {{ '%Y-%m-%d %H:%M:%S' | strftime }}
templateKey: contact
title: {{ name | title }}
tags:
  - contact
published: True

---

![ {{ name | lower | replace(" ", "-") }} profile picture ]({{ name | lower | replace(" ", "-") }}.jpeg)

[[ {{ name | lower | replace(" ", "-") }} ]]

* sick homelab with 100 GPU

