[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential]
	helper = store
[user]
	name = Waylon S. Walker
	email = waylon@waylonwalker.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	default = current
[rebase]
	autoStash = true
[pull]
	rebase = true
[includeIf "gitdir:~/work/"]
        path = ~/.gitconfig-work
[includeIf "gitdir:~/git/"]
        path = ~/.gitconfig-git
