#!/bin/bash
# shortcut for creating new virtual environments

newenv() {
    hatch env create
    . `hatch env find`/bin/activate
    python -m pip install pip --upgrade

    if [ -d "src" ]; then
        pip install -e "src[all]" || \
        pip install -e "src[dev]" || \
        pip install -e "src"
    elif [[ -f "setup.py" ]]; then
        pip install -e . 
    elif [[ -f "requirements.txt" ]]; then
        pip install -r requirements.txt
    fi

    if [[ -f ".pre-commit-config.yaml" ]]; then
        pip install pre-commit
        pre-commit install
    fi

    pip show kedro > /dev/null 2>&1 && pip install kedro-lsp

    pip install \
        black \
        flake8 \
        ipython \
        isort \
        lolcat \
        mypy \
        pyflyby \
        rich \
        rope
    }



if [ -d `hatch env find` ]; then
    . `hatch env find`/bin/activate
else
    newenv
fi

# . $(hatch env find)  > /dev/null 2>&1 || venvnew

# echo $(basename $PWD) | lolcat

# export DEVTO_API_KEY=X8WfayfeZpnpH6YaCC2SYqdM

