---
date: {{ '%Y-%m-%d %H:%M:%S' | strftime }}
templateKey: daily-note
title: {{ '%Y-%m-%d' | strftime }} Notes
description: 'notes for {{ '%Y-%m-%d' | strftime }}'
tags:
  - daily-note
published: True

---

