now():
  [[now()]]
now().year:
  [[now().year]]
now().month:
  [[now().month]]
now().day:
  [[now().day]]
now().minute:
  [[now().minute]]
now().second:
  [[now().second]]
now().ctime():
  [[now().ctime()]]
now().time():
  [[now().time()]]
now().utcnow():
  [[now().utcnow()]]
now().utcnow().ctime():
  [[now().utcnow().ctime()]]
now().strptime("21 June, 2018", "%d %B, %Y"):
  [[now().strptime("21 June, 2018", "%d %B, %Y")]]
now().strftime("%d %B, %Y"):
  [[now().strftime("%d %B, %Y")]]
now().fromtimestamp(1235456):
  [[now().fromtimestamp(1235456)]]
