(
    selected_tab: None,
    command_fg: None,
    selection_bg: None,
    selection_fg: None,
    cmdbar_bg: None,
    cmdbar_extra_lines_bg: None,
    disabled_fg: None,
    diff_line_add: None,
    diff_line_delete: None,
    diff_file_added: None,
    diff_file_removed: None,
    diff_file_moved: None,
    diff_file_modified: None,
    commit_hash: None,
    commit_time: None,
    commit_author: None,
    danger_fg: None,
    push_gauge_bg: None,
    push_gauge_fg: None,
    tag_fg: None,
    branch_fg: None,
)