- hosts: localhost
  gather_facts: true
  become: true
  become_user: "{{ lookup('env', 'USER') }}"

  pre_tasks:
    - name: update repositories
      apt: update_cache=yes
      become_user: root
      changed_when: False
  vars:
    user: "{{ ansible_user_id }}"
  tasks:
    - import_tasks: tasks/core-setup.yml
    - import_tasks: tasks/stow.yml
    - import_tasks: tasks/repos.yml
    - import_tasks: tasks/node-setup.yml
    - import_tasks: tasks/nvim-setup.yml
    - import_tasks: tasks/zsh-setup.yml
